body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, address, area {
	font-family:"Microsoft YaHei", "瀹嬩綋";
	background-repeat:no-repeat;
	font-size:12px;
	margin:0;
	padding:0;
}
img {
	border:0;
	behavior: url(/iepngfix.htc);
}
ul, li {
	list-style-type:none;
}
input {
	border:0px;
	outline:none;
}
textarea {
	border:0px;
	outline:none;
}
button{
	cursor:pointer;
}
a.tdtd:link {text-decoration: underline;}
a.tdtd:visited {text-decoration: underline;}
a.tdtd:hover {text-decoration:underline;}
a.tdtd:active {text-decoration: underline;}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration:underline;
}
a:active {
	text-decoration: none;
}
a{blr:expression(this.onFocus=this.close());}
a{blr:expression(this.onFocus=this.blur());} 
a:focus { -moz-outline-style: none; }
a:focus { outline: none; }