body table{
	width:100%;
	text-align:center;
}
body th{
	background-color: #E4E4E4;
}
body tr{
	height:20px;
}
body span[name^=notify]{
	display: inline-block;
    width: 18px;
    height: 18px;
    line-height:18px;
    background-color: red;
    border-radius: 50%;
    position:absolute;
    top: 0px;
    right: 5px;
    color: white;
    text-align: center;
    font-weight:normal;
    font-size:12px;
}
._risk-control-pandect-outer-wrap{
	width: 1200px;
    margin: 0px auto;
    padding-top:10px;
}
._pandect-trade-wrap{
	border: 1px solid #D7D7D7;
    padding: 10px;
    padding-top: 15px;
    margin-bottom:20px;
    position:relative;
}

._pandect-cash-wrap{
	position: relative;
	border: 1px solid #D7D7D7;
    padding: 10px;
    padding-top: 15px;
}
._pandect-cash-title{
	display: inline-block;
    width: 64px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    position: absolute;
    top: -9px;
    left: 49%;
    text-align: center;
}
._pandect-trade-title{
	display: inline-block;
    width: 64px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    position: absolute;
    top: -9px;
    left: 49%;
    text-align: center;
}
._pandect-trade-type span[name^=type-]{
	width:116px;
	height:20px;
	display: inline-block;
    text-align: center;
    margin: 0px;
    margin-left: -5px;
    cursor: pointer;
    position: relative;
}
._pandect-trade-type span[name=type-warning]{
	border:1px solid black;
	border-bottom:none;
}
._pandect-trade-type span[name=type-nohandle],
._pandect-trade-type span[name=type-hashandle]{
	border-bottom:1px solid black;
}
._pandect-trade-type{
	margin-bottom: 6px;
	padding-left: 5px;
}
._pandect-trade-type span[name=type-hashandle]{
	margin-left: -4px;
}
._trade-warning-table td[name=vol],
._trade-nohandle-table td[name=vol],
._trade-hashandle-table td[name=vol]{
	background-color:yellow;
}
._pandect-cash-table td[name=count]{
	text-align: right;
	padding-right: 10px;
}
._pandect-cash-table td[name=detail]{
	color:blue;
	cursor:pointer;
}
._pandect-cash-table th[name=symbol-price]{
	width:30%;
}
._pandect-cash-table th[name=total]{
	width:14%;
}
._pandect-cash-table tr:first-child th[name=buy],
._pandect-cash-table tr:first-child th[name=sell]{
	width:23%;
}
._pandect-cash-table th[name=buy]{
	background-color:#FF3300;
}
._pandect-cash-table th[name=sell]{
	background-color:#00CC00;
}
._pandect-header-wrap{
	position:relative;
	height:40px;
}
._pandect-header-wrap span[name=section]{
	font-size:15px;
}
._pandect-header-wrap span[name=title]{
	font-size:15px;
	font-weight:bold;
}
._pandect_tab_panel{
	position: absolute;
    text-align: center;
    width: 100%;
    top: 0px;
    font-size: 14px;
}
._pandect_tab_panel span[name=pandect],
._pandect_tab_panel span[name=userstate]{
	width:110px;
	height:20px;
	line-height:20px;
	display:inline-block;
	border:1px solid #D7D7D7;
	position:relative;
	cursor: pointer;
}
._pandect_tab_panel span[name=pandect]{
	font-weight:bold;
}
._pandect_tab_panel span[name=userstate]{
	margin-left: -5px;
	background-color:#C9C9C9;
}
._userstate-filter-wrap{
	height:30px;
	text-align:center;
	font-size: 14px;
}
._userstate-filter-wrap span[name=filter-type]{
	margin-right:5px;
}
._userstate-filter-wrap button[name=filter-search],
._userstate-filter-wrap button[name=filter-reset]{
	margin-left:5px;
	width:60px;
    height: 25px;
}
._userstate-filter-wrap input{
	border:1px solid black;
	height:22px;
}
._userstate-account-wrap{
	height:30px;
	line-height:30px;
}
._userstate-account-wrap span[name=account-all]{
	font-size: 14px;
    font-weight: bold;
}
._userstate-account-wrap span[name=account-risk]{
	font-size: 14px;
    color:blue;
}
._userstate-account-wrap span[name^=account-]{
	cursor:pointer;
}
table[class^=_userstate-trade-table] th{
	height:28px;
}
table[class^=_userstate-trade-table-risk] th[name=trade-num],
table[class^=_userstate-trade-table-risk] th[name=deposit]{
	cursor:pointer;
}
table[class^=_userstate-trade-table] tr{
	height:30px;
}
table[class^=_userstate-trade-table] span[name=update],
table[class^=_userstate-trade-table] span[name=trade-room]{
	display:inline-block;
	color:blue;
	cursor:pointer;
}
table[class^=_userstate-trade-table] span[name=update]{
	width:50px;
}
table[class^=_userstate-trade-table] span[name=trade-room]{
	width:100px;
}
table[class^=_userstate-trade-table] th[name=operate]{
	width:150px;	
}
._table-page-tool{
	width:100%;
	text-align:center;
	height: 30px;
    line-height: 30px;
    letter-spacing: 3px;
    font-size: 13px;
}
._table-page-tool span[name=total-count],
._table-page-tool span[name=total-page],
._table-page-tool span[name=current-page]{
	letter-spacing: 0px;
	margin-right: 5px;
}
.page-tool-wrap{
	width:100%;
}
.page-tool-wrap span[name=prev],
.page-tool-wrap span[name=next]{
	cursor:pointer;
	margin-left: 20px;
}
.page-tool-wrap select{
	margin-left:10px;
	letter-spacing:3px;
}
.remodal-wrap{
	background: rgba(120,120,120,0.7);
	width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}
._cash-detail-wrap{
	width:1000px;
	height:450px;
	border: 1px solid black;
	position:relative;
	padding:10px;
	background-color:white;
	margin: 0px auto;
}
._cash-detail-header{
	height: 40px;
    text-align: center;
}
._cash-detail-header span[name=kind-code]{
	font-size: 15px;
    font-weight: bold;
}
._cash-detail-header span[name=refresh]{
	cursor:pointer;
	color:blue;
	margin-left: 17px;
}
._cash-detail-header span[name=refresh-time-wrap]{
	top: 15px;
	position: absolute;
    display: inline-block;
    right: 40px;
}
._cash-detail-header span[name=lastrefresh]{
	
}
._cash-detail-header span[name=close]{
	display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image:url(../images/alertCloseBtn0002.png);
    cursor:pointer;
}
._cash-detail-header span[name=close]:hover{
	background-image:url(../images/alertCloseBtn0001.png);
}
._cash_detail_table{
	width:100%;
}
._cash_detail_table tr{
	height:30px;
}
._cash_detail_table th[name=buy-vol],
._cash_detail_table th[name=buy-profit],
._cash_detail_table th[name=sell-vol],
._cash_detail_table th[name=sell-profit],
._cash_detail_table th[name=total-profit]{
	background-color:#0066FF;
}
._trade-nohandle-table td[name=operate]{
	color:blue;
}
._trade-nohandle-table span[name=accept],
._trade-nohandle-table span[name=refuse]{
	display:inline-block;
	width:50%;
	cursor:pointer;
}
._trade-nohand-accept-menu{
	text-align: center;
	width:145px;
	height:175px;
	border: 1px solid black;
	position:absolute;
	background-color: white;
}
._trade-nohand-accept-menu input{
	border:1px solid black;
	width: 112px;
}
._trade-nohand-accept-menu div[name=title]{
	height: 35px;
    font-size: 14px;
    line-height: 35px;
}
._trade-nohand-accept-menu div[name=control]{
	height:30px;
	line-height:30px;
}
._trade-nohand-accept-menu span[name^=code-]{
	display:inline-block;
	width:25px;
	height:25px;
	text-align:center;
	line-height:25px;
	border:1px solid black;
	margin: 6px;
	cursor:pointer;
}
._trade-nohand-accept-menu button[name^=btn-]{
	margin:5px;
}
._trade-nohand-refuse-menu{
	width:140px;
	height:80px;
	border: 1px solid black;
    text-align: center;
    position:absolute;
    background-color:white;
}
._trade-nohand-refuse-menu div:first-child{
	font-size: 14px;
    height: 40px;
    line-height: 40px;
}
._trade-nohand-refuse-menu button{
	margin:5px;
}
div[class^=_trade-nohandle-dialog]{
	/* width:630px;
	height:170px; */
	background-color:white;
	border:1px solid black;
	position:absolute;
	padding:6px;
}
div[class^=_trade-nohandle-dialog] table{
	margin-bottom:6px;
}
div[class^=_trade-nohandle-dialog] div[name=control]{
	text-align:center;
}
div[class^=_trade-nohandle-dialog] button{
	margin:6px;
}
div[class^=_trade-nohandle-dialog] div[name=header]{
	height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    position:relative;
    cursor:pointer;
}
div[class^=_trade-nohandle-dialog] span[name=countdown]{
	position: absolute;
    top: 0px;
    left: 9px;
    font-weight: normal;
    font-size: 13px;
}
div[class^=_trade-nohandle-dialog] span[name=close]{
	position:absolute;
	top:10px;
	right:10px;
	width:12px;
	height:12px;
	background-image:url(../images/alertCloseBtn0002.png);
}
div[class^=_trade-nohandle-dialog] span[name=close]:hover{
	background-image:url(../images/alertCloseBtn0001.png);
}
div[class^=_trade-nohandle-dialog] td[name=vol]{
	background-color:yellow;
}
._trade-userstate-update-wrap{
	width:200px;
	height:170px;
	border:1px solid black;
	position:absolute;
	background-color:white;
}
._trade-userstate-update-wrap input[type=radio]{
	vertical-align:bottom;
}
._trade-userstate-update-wrap label[name^=radio-wrap]{
	cursor:pointer;
}
._trade-userstate-update-wrap div[name=title]{
	height:30px;
	line-height:30px;
	text-align:center;
	font-weight:bold;
}
._trade-userstate-update-wrap div{
	height:25px;
}
._trade-userstate-update-wrap div[name=btn-wrap]{
	text-align:center;
}
._trade-userstate-update-wrap button{
	margin:5px;
}
._trade-userstate-update-wrap label{
	width:60px;
	text-align:center;
	display:inline-block;
}